.visualizer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 60px;
  /* padding: 0px 100px; */
  /* box-sizing: border-box; */
}

.visualizer .waveforms {
  height: 100px;
  width: 290px;
}
.visualizer img {
  width: 300px;
  margin-top: -10px;
}
