body,
html,
#root {
  --background: #3d3a3d; /* Example CSS variable */
  --primary: #fffffe;
  --secondary: #96c6f9;
  --tertiary: #2b2b2b;
  --fourth: #b4dbfe;
  position: absolute;
  paddding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--background);
}

.dance {
  animation: dance 2s infinite;
}

@keyframes dance {
  0%,
  100% {
    transform: rotate(-5deg) scale(0.95);
  }
  25% {
    transform: rotate(5deg) scale(1.05);
  }
  50% {
    transform: rotate(-3deg) scale(1);
  }
  75% {
    transform: rotate(3deg) scale(1.05);
  }
}
