body,
html,
#root {
  --background: #232946; /* Example CSS variable */
  --primary: #fffffe;
  --secondary: #eebbc3;
  position: absolute;
  paddding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--background);
}
