.camera-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.webcam,
.canvas {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  border-radius: 5%;
  box-sizing: border-box;
}

.webcam {
  border: 7.5px solid var(--primary);
}
.canvas {
  transform: scaleX(-1);
  /* background-color: red; */
}
